.btn{
  display: block;
  padding: 1rem 2rem;
  margin: 0 auto;
  border: 1px solid var(--text-color);
  background: transparent;
  font-size: 1.6rem;
}
.btnLink{
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  gap: 15px;
  align-items: center;
}
.arrowLink{
  display: inline-block;
  width: 13px;
  aspect-ratio: 1;
  clip-path: polygon(0 0, 90% 50%, 0 100%);
  background: var(--text-color);
}
